@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.parent {
    padding-right: 20px !important;
    padding-left: 20px !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

